@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url("iconfont.ttf?t=1677566812361") format("truetype");
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 50px;
  font-style: normal;
  color: #000000;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-tanzhenguanli:before {
  content: "\e685";
}
